<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js-learning version1.0</title>
    <script src="../../lib/vue1.0.26.min.js"></script>
</head>
<body>
    <div id="standard">
        <h2>组件标准创建模式</h2>
        <!--注意组件的模板替换了自定义元素，自定义元素的作用只是作为一个挂载点。-->
        <stand-component></stand-component>


        <h2>局部组件创建模式</h2>
        <parent-component></parent-component>
        <h2>注册语法糖</h2>
        <sugar-component></sugar-component>
        <parent-sugar></parent-sugar>
    </div>
    <script src="app.js"></script>
</body>
</html>